.center{
    display:grid;
    place-items:center;
}
button{
    padding: 6px 35px;

}
th,td{
    outline-style:solid;
    outline-color:whitesmoke;
    padding-left:10px;
    padding-right:10px;
    padding-top:2px;
    padding-bottom:2px;
    font-family: "Comic Sans MS";
}
input{
    font-family:"Comic Sans MS";
}
body{
    margin:0;
    color:whitesmoke;
    background: #272f3b;
}
a{
    color:whitesmoke;
}
.home
{
    text-decoration:none ;

}

